/**
 * LAYOUT
 *
 * Css definining the style for the layout
 */

/* ------------------------------------ *\
    PAGE-TITLE
\* ------------------------------------ */
.pd-layout {
    &__title {
        display: flex;
        align-items: center;
        padding: $space*4 0;
    }

    &__title-title {
        font-weight: $font-weight-medium;
        font-size: $font-size-l;
    }

    &__title-tools {
        display: flex;
        margin-left: auto;
        padding-left: $space;

        input[type="text"] {
            font-size: $font-size-s;
        }

        .n7-btn-light {
            margin-left: $space*2;
            font-size: $font-size-s;
        }
    }
}


/* ------------------------------------ *\
    NAV
\* ------------------------------------ */
.pd-layout {
    .n7-nav__list {
        background-color: $color-background-medium;
    }

    .n7-nav__item {
        border-bottom: 1px solid $color-border-normal;
        font-size: $font-size-sm;

        &.is-active {
            font-weight: $font-weight-bold;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .n7-nav__link {
        display: block;
        padding: $space*1.5 $space*2;

        &:hover {
            .n7-nav__label {
                color: $color-text-link;
            }        
        }
    }

    .n7-nav__label {
        color: $color-text;
        transition: all $transition-durations;
    }
}


/* ------------------------------------ *\
    LAYOUT
\* ------------------------------------ */
.pd-layout {
    &__content {
        display: flex;
    }

    &__sidebar {
        width: 177px;
        margin-right: $space*3;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__main {
        flex: 1;
    }
}


/* ------------------------------------ *\
    SECTION
\* ------------------------------------ */
.pd-section {
    &__row {
        border-bottom: 1px solid $color-border-normal;
    }

    /* Two child elements, on on the left one on the right */
    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $space*2 $space*2 0 $space*2;
    }

    &__title {
        margin-bottom: 0;
        font-weight: $font-weight-normal;
        font-size: $font-size-l;
    }
    
    &__widget-and-table {
        display: flex;
        padding-bottom: $space*2;
        
        > *:nth-child(1) {
            width: 30%;
        }

        > *:nth-child(2) {
            
        }
    }
}

.pd-section-border {
    border-radius: $section-border-radius;
    border: 1px solid $color-border-normal;
    box-shadow: $main-box-shadow;
}


/* ------------------------------------ *\
    CONTENT
\* ------------------------------------ */
.pd-layout {
    /* .pd-row-container-grid {
        .dv-data-widget-wrapper {
            display: flex;
            flex-flow: column nowrap;
            height: calc(100% - #{$space*4});
            border-right: 1px solid $color-border-normal;

            > * {
                &:last-child {
                    margin-top: auto;
                }
            }
        }

        &-3-col {
            > *:nth-of-type(3n+3) {
                .dv-data-widget-wrapper {
                    border-right: none;
                }
            }
        }

        &-4-col {
            > *:nth-of-type(4n+4) {
                .dv-data-widget-wrapper {
                    border-right: none;
                }
            }
        }
    } */

    .dv-datepicker-wrapper__dropdown {
        z-index: 1;
    }

    .pd-col-container {
        .dv-data-widget-wrapper {
            margin-bottom: $space;
        }

        *:last-of-type .dv-data-widget-wrapper {
            margin-bottom: 0;
        }
    }

    .dv-data-widget-wrapper {
        padding: $space*2;

        &.dv-data-widget-wrapper-gradient {
            color: #ffffff;
            background-image: $data-widget-gradient-background;
        }
    
        .pd-row-container >*:last-of-type & {
            border-right: none;
        }
    }

    .n7-chart-select {
        font-size: $font-size-s;
        font-weight: $font-weight-medium;
    }

    .n7-graph-wrapper {
        padding: $space $space $space 0;
    }
}


/* ------------------------------------ *\
    TABLE
\* ------------------------------------ */
.pd-section {
    &__widget-table-wrapper {
        display: flex;
    }

    &__widget-wrapper {
        flex: 0 0 280px;
        max-width: 280px;
        margin-right: $space*2;
    }

    &__table-wrapper {
        flex-grow: 1;
    }

    &__table-title {
        width: 100%;
        box-sizing: border-box;
        border-top: 1px solid $color-border-normal;
        border-right: 1px solid $color-border-normal;
        border-left: 1px solid $color-border-normal;
        padding: $space*2;
        margin-bottom: 0;
        font-weight: $font-weight-normal;
        font-size: $font-size-l;
    }

    &__table {

    }
}

/* The Table */
.pd-section__table {
    .n7-table {
        &__table {
            border: none;

            td {
                // text-align: center;
            }

            td.n7-table__table-body-cell {
                &:first-of-type {
                    // width: 65%;
                    font-weight: $font-weight-bold;
                    text-align: left;
                }

                &:last-of-type {
                    // width: 150px;
                }
            }

            &-body-cell {
                border-width: 1px;

                [class*="n7-icon-"],
                [class*="fa"] {
                    margin-right: $space/2;
                    color: $color-text-light;
                }

                &[class*="has-status"] {
                    vertical-align: middle;
                }

                &.has-status-success {
                    [class*="n7-icon-"],
                    [class*="fa"] {
                        color: $color-success;
                    }
                }

                &.has-status-alert {
                    [class*="n7-icon-"],
                    [class*="fa"] {
                        color: $color-error;
                    }
                }
            }
        }
    }
}



/* ------------------------------------ *\
   #MEDIA-QUERIES
\* ------------------------------------ */
@media all and (max-width: $page-max-width + $space*4) {
}